#main div > #analysis.box > #content{
	flex-grow: 1;
}

#main div > #analysis.box > #content #inputs{
	padding:5%;
}

#main div > #analysis.box > #content #results{
	padding:5%;
	display:flex;
	justify-content: flex-start;
	flex-wrap:wrap;
}

#main div > #analysis.box > #content #results div.singleStatContainer{
	margin:10px;
}

#main div > #analysis.box > #content #results div.singleStatContainer > div.subHeader{
  font-size: 1em;
}

#main div > #analysis.box > #content #results div.singleStatContainer > div.amount{
  font-size: 2em;
}
