#header{
	background-color: #000888;
	color:white;
	user-select: none;

	width:98%;
	height:7vh;
	min-height:48px;
	padding-left: 1%;
	padding-right: 1%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header > div{
	font-size: 24px;
}

#header > #showSideNavDiv{
	height: 7vh;
	width:7vh;
}

#header > #title{
	font-size: 48px;
}

@media screen and (max-width:499px){
	#header > #title{
		font-size: 30px;
	}
	#header > div{
		font-size: 15px;
	}
}
