#main{
	width: calc(100% - 60px);
	padding:30px;

	height:93%;
	overflow-y: auto;
	background-color: #DDDDDD;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#main > div.box{
	width:80%;
	height:300px;
	background-color: white;
	border-radius: 15px;
	overflow-y: auto;
	margin:50px;
}

#main > div.box > div.boxTitle{
	font-size: 20px;
}
