#main{
	width: 100%;
	height:93%;
	overflow-y: auto;
	background-color: #DDDDDD;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	overflow-x: hidden;
}

#main > #groupOne{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

/*
--------------------
|Add tr. | All tr. |
|        |         |
|--------|         |
|Stats   |         |
|        |         |
|------------------|
| Graph            |
|                  |
|                  |
|                  |
|                  |
--------------------

*/

@media screen and (max-width: 499px){
	#main > div div.box{
		width:calc(100vw - 40px);
	}
}

@media screen and (min-width: 500px) and (max-width: 999px){
	#main > div div.box{
		width: 450px;
	}
}

@media screen and (min-width: 1000px){
	#main > div div.box{
		width: 45vw;
	}
}

@media screen and (min-width: 1000px) and (min-height: 850px){
	#main > #groupOne{
		height:100%;
	}
}

@media screen and (min-width: 1000px) and (max-height: 850px){
	#main > #groupOne{
		height:850px;
	}
}

#main > div div.box{
	min-height: 350px;
	height:calc((93vh / 2) - 40px);
	margin:20px;
	background-color: white;
}

#main > div div.box > div.boxTitle{
	font-size: 20px;
	border-bottom: 1px solid black;
	color:white;
	background-color: #000888;
	padding:15px;
	user-select: none;
}
