#sideNav{
	position: fixed;
	left:0;
	top:0;
	z-index: 1;
	height: 100%;
	width:100%;

	background-color: rgba(0,0,0,0.5);
}

#sideNav > #nav{
	background-color: white;
	width:300px;
	height: 100%;
}
