#main div > #statsDisplay.box > div.statsContainer{
	padding:5%;
	display:flex;
	justify-content: flex-start;
	flex-wrap:wrap;
	flex-grow: 1;
}

#main div > #statsDisplay.box > div.statsContainer > div.singleStatContainer{
	margin:20px;
}

#main div > #statsDisplay.box > div.statsContainer > div.singleStatContainer > div.subHeader{
  font-size: 1em;
}

#main div > #statsDisplay.box > div.statsContainer > div.singleStatContainer > div.amount{
  font-size: 2em;
}
