div.toggle{
	min-width: 48px;
	min-height: 48px;
	width:90px;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.toggle > div.toggleBackground{
	width:80px;
	height:30px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	position: relative;
	transition: background-color 0.3s;
}

div.toggle > div.toggleBackground > div.toggleToggle{
	height:24px;
	width:24px;
	border-radius: 12px;
	background-color: #1e2749;
	position: absolute;
	transition: left 0.3s;
}

div.toggle > div.toggleBackground > div.toggleToggle.firstOption{
	left:3px;
}

div.toggle > div.toggleBackground > div.toggleToggle.secondOption{
	left:53px;
}

div.toggle > div.toggleBackground > div.toggleValueDisplay{
	font-size: 1.25em;
	margin-top: -5px;
}
