#main div > #transactionsDisplay.box{
	display:flex;
	flex-direction: column;
	height: calc(93vh - 40px);
}

@media screen and (min-width: 1000px){
	#main div > #transactionsDisplay.box{
		height:calc(100% - 40px);
	}
}

#main div > #transactionsDisplay.box > #transactions{
	overflow-y: auto;
	height: 100%;
	flex-grow: 1;
}

#main div > #transactionsDisplay.box #newTransactionContainer button.addButton{
	font-size: 1em;
	width:100%;
	background-color: #1e2749;
	color: white;
	border: 2px solid black;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 48px;
	min-width: 48px;
}
