div.date{
	background-color: #1e2749;
	color: white;
	padding: 5px;
	border-bottom: 1px solid black;
	font-size: 1.25em;
}

div.transaction{
	padding: 15px;
	border-bottom: 1px solid black;
}

div.transaction > div.transactionTop{
	display:flex;
	justify-content: space-between;
	font-size: 1.125em;
}

div.transaction > div.transactionTop > div.transactionAmount > span > input.amountInput{
	width:70px;
}

div.transaction > div.transactionBottom{
	display:flex;
	flex-wrap: wrap;
	margin-top: 10px;
	align-items: flex-start;
	justify-content: space-between;
}

div.transaction > div.transactionBottom > div.bottomLeft{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

div.transaction > div.transactionBottom > div.bottomLeft > div.category{
	background-color: #A9BCD0;
	padding:5px;
	margin-right: 5px;
	font-size: 0.9em;
	border: 1px solid #7D8B99;
}

div.transaction .editMode.categoryInput{
	min-height: 42px;
	min-width: 42px;
}

div.transaction .editMode.addCategoryButton{
	font-size: 1em;
	background-color: #1e2749;
	color: white;
	border: 2px solid black;
	padding:10px;
	min-width: 48px;
	min-height: 48px;
}

div.transaction > div.transactionBottom > div.bottomRight{
	margin-left: auto;
}

div.transaction > div.transactionBottom > div.bottomRight > button.deleteButton{
	width:80px;
	height:30px;
	border-radius: 15px;
	border: none;
	background-color: #a9bcd0;
	color: white;
}

div.transaction > div.transactionBottom > div.bottomRight > div.editToggle div.toggleBackground{
	background-color: #a9bcd0;
}

div.transaction > div.transactionBottom > div.bottomRight > div.editToggle div.toggleValueDisplay{
	color:black;
}

div.transaction > div.transactionBottom > div.bottomRight > div.editToggle div.toggleToggle{
	display: none;
}
