#main div > #transactionsDisplay.box{
	display:flex;
	flex-direction: column;
	height: calc(93vh - 40px);
}

@media screen and (min-width: 1000px){
	#main div > #transactionsDisplay.box{
		height:calc(100% - 40px);
	}
}

#main div > #transactionsDisplay.box > #transactions{
	overflow-y: auto;
	flex-grow: 1;
}


#main div > #transactionsDisplay.box > #transactions > div.dateContainer{
}

#main div > #transactionsDisplay.box > #transactions > div.dateContainer > div.date{
	background-color: #1e2749;
	color: white;
	padding: 5px;
	border-bottom: 1px solid black;
	font-size: 1.25em;
}
